version: "3.9"

services:

  rabbitmq:
    image: rabbitmq:3.13-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin123

  api:
    image: oven/bun:latest
    working_dir: /app
    volumes:
      - .:/app
    command: bun run apps/api/src/bootstrap.ts
    environment:
      RABBIT_URL: amqp://admin:admin123@rabbitmq:5672/
    depends_on:
      - rabbitmq
    ports:
      - "3000:3000"

  worker:
    image: oven/bun:latest
    working_dir: /app
    volumes:
      - .:/app
    command: bun run apps/worker/src/bootstrap.ts
    environment:
      RABBIT_URL: amqp://admin:admin123@rabbitmq:5672/
    depends_on:
      - rabbitmq
